*{
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

@media screen and (max-width : 1024px) {

#lasaco {
      margin-left: 10px;
}

.first li {
  padding: 35px 10px;
}

.one {
    left: 250px;
}

.two {
    left: 200px;
}

#vission {
    width: 30rem;
}

#mission {
    width: 30rem;
    margin-top: 15px;
}

#two {
    font-size: 10px;
    padding-left: 0;
}

#three {
    font-size: 10px;
}

.four {
    left: 80px;
}

.three {
    right: 70px;
}

#cutting2{
    padding-top: 100px;
}

.five {
    right: 120px;
}

#five {
    font-size: 10px;
}

.six {
    left: 420px;
}

.seven {
    left: 150px;
}

#edge {
    width: 35rem;
    top: 200px;
    right: 100px;
}

#cutting {
    margin-top: 30px;
}

.container-3 {
    height: 500px;
}
.container-4 img {
    width: 35rem;
    margin-left: 50px;
    margin-top: 170px;
}

.container-4{
    height: 500px;
}

#claims {
    width: 35rem;
    margin-top: 160px;
    margin-right: 10rem;
}

.container-6 {
    height: 70rem;
}

#badge {
    width: 40rem;
    margin-top: 15rem;
}

.twelve {
 width: 25rem;
 height: 60rem;
 right: 5rem;
}

.twelve img {
    width: 25rem;
}

.thirteen {
 width: 25rem;
 height: 60rem;
 left: 38rem;
}

.thirteen img {
    width: 25rem;
}

.fourteen {
    width: 25rem;
    height: 60rem;
    left: 5rem;
}

.fourteen img {
    width: 25rem;
}

.container-7 {
    height: 90rem;
}

.close {
    left: 270px;
}

th {
    font-size: 0.9rem;
}

td {
    font-size: 1rem;
}

#seven {
    font-size: 1rem;
}

.second li {
    font-size: 1rem;
}

.second {
    top: 60rem;
}

.close4 {
    bottom: 8rem;
}

.close2 {
    left: 30rem;
}
}

@media screen and (max-width: 912px) {

    .first li {
      display: none;
    }

    #lasaco {
        display: block;
        padding-top: 30px;
        margin-left: 30px;
    }

    #bars {
        display: flex;
        font-size: 40px;
        margin-left: 600px;
    }

    .one {
        left: 200px;
    }

    .two {
        left: 100px;
    }

    .six {
        left: 350px;
    }

    .seven {
       left: 100px;
    }

    .eight {
        top: 180px;
        left: 50px;
    }

    #edge {
        right: 20px;
    }

    .nine {
        right: 20px;
    }

    #claims {
        left: 530px;
    }

    .ten {
        left: 40px;
        top: 180px;
    }

    .eleven {
        right: 20px;
    }

    .thirteen {
        left: 330px;
    }

    .close {
        left: 220px;
    }

    .close4 {
        bottom: 85px;
    }
}


@media screen and (max-width: 853px) {
    
    #bars {
        margin-left: 500px;
    }

    .one {
        left: 180px;
    }

    .three {
       right: 40px;
    }

    .four {
        left: 40px;
    }

    #vission {
        width: 300px;
    }

    #mision {
        width: 300px;
    }

    .six {
        left: 350px;
    }


    .five {
        right: 50px;
    }

    .seven {
        left: 100px;
     }
 
     .eight {
         top: 180px;
         left: 20px;
     }
 
     #round {
        width: 300px;
        position: absolute;
        top: 20px;
     }

     #claims {
        width: 300px;
     }

     #badge {
        width: 350px;
        top: 90px;
     }

     .fourteen {
        left: 20px;
     }

     .thirteen {
        left: 300px;
     }

     .twelve {
       right: 10px;
     }

     .close {
         left: 150px;
     }
    
     td {
        padding-bottom: 20px;
        padding-left: 50px;
     }

     th {
        padding-left: 50px;
        padding-right: 50px;
        font-size: 10px;
     }
}


@media screen and (max-width: 820px) {
    
   .eight {
        left: 10px;
   } 

   #edge {
       right: 5px;
   }

   .nine {
      right: 5px;
   }

   #round {
    width: 280px;
   }

   #claims {
    width: 250px;
    top: 100px;
   }

   #badge {
    width: 280px;
    height: 370px;
    left: 15px;
    top: 60px;
   }

   .thirteen {
      left: 280px;
   }

}



@media screen and (max-width: 768px) {
    
    #bars {
    margin-left: 450px;
    }

    .one {
        left: 110px;
    }

    .six {
        left: 300px;
    }

    .seven {
       left: 50px;
    }

    #edge {
        width: 250px;
        right: 20px;
        top: 220px;
    }

    #round {
        width: 250px;
        top: 60px;
    }

    #claims {
        width: 220px;
    }

    .fourteen {
        left: 5px;
   }

   .thirteen {
    left: 261px;
   }

   .twelve {
    right: 0;
   }

   #email {
    padding: 15px 15px;
   }

   .close{
     top: 370px;
     left: 170px;
   }

   #sub {
     padding: 15px 15px;
   }
}


